html, body {
    margin: 40px 32px;
    padding: 0;
    background: #1F2937;
    width: 550px;
    height: 550px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

h1 {
    width: 360px;
    font-weight: bold;
    font-size: 40px
}

span {
    color: #10B981;
}

button {
    background: #10B981;
    display: flex;
    padding: 9px 17px 9px 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 223px;
    height: 42px;
    gap: 12px;
    color: inherit;
    margin: 51px 0 35px;
}

#divider {
    position: absolute;
    top: 364px;
    width: 446px;
    height: 0;
    border: solid 1px #2F3E53;
    margin: 0 auto 35px;
}

.results {
    color: #10B981;
    width: 218px;
    height: 39px;
    line-height: 39px;
    background: #273549;
    text-align: center;
    margin: 0 10px 0 10px;
    border-radius: 6px;
    background-image: url("images/Icondots.png");
    background-repeat: no-repeat;
    background-position: center;
}

.results::selection {
    color: #1F2937;
}

#first-rectangle, #snd-rectangle {
    position: absolute;
    top: 399px;
}

#third-rectangle, #fourth-rectangle {
    position: absolute;
    top: 465px;
}

#first-rectangle, #third-rectangle {
    left: 52px;
}

#snd-rectangle, #fourth-rectangle {
    left: 287px;
}

#password-length {
    position: absolute;
    top: 310px;
    left: 380px;
    color: inherit;
    background: inherit;
    border-radius: 3px;
}

#length-text {
    position: absolute;
    top: 270px;
    left: 300px;
}